#header{
    text-align: center;
    
    font-size: 50px;
}
body{
    margin: 200px auto;
   height: 550px;
    border: solid black;
    width: max-content;
    
}

#buttons{
    position: relative;
    margin-top: 150px;
    display: flex;
    justify-content: center;   
    padding-left: 10px;
}

.button{
    margin-left: 10px;
}

#gameInfo{
    text-align: center;
    margin-top: 150px;
}

#scoreBoard{
    display: flex;
    justify-content: center;
    margin-top: 75px;
    font-weight: bold;
}

.score{
    margin-left: 10px;
}